*{
  margin: 0;
  padding: 0;
}

header h1, p {
  color: white;
  text-align: center;
}

.img-header{
  background-image: url('../images/imagen-3.jpg');
  width: 100%;
  background-size: contain;
  height: 300px;
}

.image-container{
  display: flex;
  margin: 20px;
}

.text-content{
  display: block;
  align-self: center;
  margin: auto;
}

.text-content p{
  color: black;
}

footer{
  background: black;
  font-size: 50px;
  padding: 40px;
}